<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header.ejs') %>

<body>
  <%- include('../layouts/dashboard.ejs') %>
  <div class="dashboard-content">
    <nav>
      <h1 class="title">Order List</h1>
    </nav>
    <table>
      <thead>
        <tr>
          <th>Order No</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="items">
          <td>Number</td>
          <td>Product Name</td>
          <td>Quantity</td>
          <td>Date</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- pagination -->

  <script>

  </script>

</body>


</html>