<!DOCTYPE html>
<html ng-app="olshop">

<head>
  <title>Chadpedia</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" />

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
    rel="stylesheet" />

  <!-- icons -->
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body ng-controller="Controller">
  <!-- Hero Section start-->
  <section class="hero" id="home">
    <main class="content">
      <h1>Lorem ipsum dolor sit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, et.</p>
    </main>
  </section>
  <nav class="navbar">
    <div class="navbar-nav">
      <a href="#home">Man</a>
      <a href="#about">Women</a>
    </div>
    <a href="#" class="navbar-logo">COOLNIQLO</a>
    <div class="navbar-extra">
      <a href="javascript:void(0)" ng-click="toggleSearch()">
        <i data-feather="search" ng-show="!showSearch"></i>
        <i data-feather="x" ng-show="showSearch"></i>
      </a>
      <input type="text" ng-model="searchText" placeholder="Search by tag" class="search" ng-show="showSearch">
      <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
    </div>
  </nav>
  <div>
    <div class="grid-container">
      <div ng-repeat="item in filterItems()">
        <div class="item-container">
          <img ng-src="images/{{ item.image }}" alt="{{ item.name }} image">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
  <script>
    feather.replace();
  </script>
  <script src="script.js"></script>
</body>

</html>