<!DOCTYPE html>
<html ng-app="olshop">
<head>
  <title>Coolniqlo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
    <div ng-controller="Controller">  
        <input type="text" ng-model="searchText" placeholder="Search by tag" class="search">           
                <div class="grid-container">
                    <div ng-repeat="item in filterItems()">
                        <div class="item-container">
                            <img ng-src="images/{{ item.image }}" alt="{{ item.name }} image">
                            {{item.name}}
                            <!-- {{ item.name }} ({{ item.tags.join(', ') }}) -->
                        </div>
                </div>
      </div>
      
  </body>
</html>
