body {
    margin: 20px;
}

input,
button {
    margin-bottom: 10px;
}

.grid-container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: center;
    gap: 20px;
    background-color: green;

}

.item-container{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container img{
    height: 300px;
    width: 300px;
}

/* buat edit search bar */
.search {
    background-color: white;
    border: 2px solid #ccc;
    height: 30px;
    border-radius: 15px;
    transition: border-color 0.3s;
    text-indent: 10px;
}

.search:focus {
    border-color: black !important;
}