body {
    margin: 20px;
}

input,
button {
    margin-bottom: 10px;
}

li img {
    height: 300px;
    width: 300px;
}

li {
    display: inline-block;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: grid;
    grid-template-columns: 3;
}

/* buat edit search bar */
.search {
    background-color: white;
    border: 2px solid #ccc;
    height: 30px;
    border-radius: 15px;
    transition: border-color 0.3s;
    text-indent: 10px;
}

.search:focus {
    border-color: black !important;
}