* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0e1111;
  background-color: #000000;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 1.5rem 7%;
  background-color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #0e1111;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #0e1111;
}

.navbar .navbar-nav a {
  color: #0e1111;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
  padding-top: 0.5rem;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #0e1111;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  display: flex;
  align-items: center;
}

.navbar .navbar-extra a {
  color: #0e1111;
  margin: 0 0.5rem;
  display: flex;
}

/* buat edit search bar */
.search {
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  height: 1.8rem;
  border-radius: 15px;
  transition: border-color 0.3s;
  text-indent: 10px;
}

.search:focus {
  border-color: #0e1111 !important;
}

#hamburger-menu {
  display: none;
}

/* Hero Section  */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: #0e1111;
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #0e1111;
  width: 35rem;
}

.hero .content .cta {
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #0e1111;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  opacity: 0.8;
}

/* Item container and items styles */
.allItems {
  display: flex;
  justify-content: center;
}

.grid-container {
  width: 95%;
  margin: 0 auto;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1rem;
  row-gap: 5rem;
}

.item-container {
  width: 19rem;
  height: 25rem;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 1px 50px 8px rgba(254, 254, 254, 0.45);
}

.item-image-container,
.item-desc {
  width: 100%;
  height: 100%;
}

.item-image-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.item-desc {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.item-property {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-name {
  flex: 1;
}

.item-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: bold;
}

.item-rating {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1rem;
}

.item-rating .btnBeli {
  color: rgba(14, 17, 17, 0.7);
  height: 2.5rem;
  width: 7.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(14, 17, 17, 0.3);
  transition: all 0.4s ease;
}

.item-rating .btnBeli:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #0e1111;
  margin-top: 1rem;
}

.item-rating .btnBeli {
  color: rgba(14, 17, 17, 0.7);
  height: 2.5rem;
  width: 7.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(14, 17, 17, 0.3);
  transition: all 0.4s ease;
}

.item-rating .btnBeli:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #0e1111;
}

.star-rating li {
  margin-top: 1rem;
  display: inline;
}

.item-image-container img {
  width: 100%;
  display: block;
}

/* Item container and items styles */

/* buat edit search bar */
.search {
  background-color: white;
  border: 2px solid #ccc;
  height: 1.8rem;
  border-radius: 15px;
  transition: border-color 0.3s;
  text-indent: 10px;
}

.search:focus {
  border-color: #0e1111 !important;
}

footer {
  background-color: white;
  text-align: center;
  padding: 1rem 0 1.5rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #0e1111;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #5f5f5f;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #0e1111;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #0e1111;
  font-weight: 700;
}

/* Media Query */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    color: #0e1111;
    cursor: pointer;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    left: 0;
  }

  .navbar .navbar-nav a {
    color: #0e1111;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 95%;
  }

  .hero {
    min-height: 200vh;
  }

  .hero .content {
    margin-top: -25rem;
  }

  .hero .content .cta {
    font-size: 1.3rem;
    padding: 1.5rem 3.5rem;
  }

  .hero .content p {
    font-size: 1.5rem;
  }

  .grid-container {
    padding-top: 3rem;
  }
}
