<!-- Sidebar -->
<div class="sidebar">
  <a href="/" class="sidebarBtn" id="homeLink"><i class="fas fa-home"></i> Home</a>
  <a href="/admin/dashboard/manage" class="sidebarBtn <%= activePage === 'manage' ? 'active' : '' %>" id="manageLink"><i class="fas fa-tag"></i> Products</a>
  <a href="/admin/dashboard/orders" class="sidebarBtn <%= activePage === 'orders' ? 'active' : '' %>" id="ordersLink"><i class="fas fa-shopping-cart"></i> Orders</a>
  <a href="/admin/dashboard/sales" class="sidebarBtn <%= activePage === 'sales' ? 'active' : '' %>" id="salesLink"><i class="fas fa-box"></i> Sales</a>
</div>
