<footer id="contact">
  <div class="socials">
    <a href="#"><i data-feather="instagram"></i></a>
    <a href="#"><i data-feather="twitter"></i></a>
    <a href="https://github.com/Shinzi04/Coolniqlo" target="_blank"><i data-feather="github"></i></a>
  </div>

  <div class="links">
    <a href="/#home">Home</a>
    <a href="/#product">Product</a>
    <a href="#contact">Contact</a>
  </div>

  <div class="credit">
    <p>Created by <a href="/">COOLNIQLO</a>. | &copy; 2024.</p>
  </div>
</footer>