<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/customer-dashboard.css" />

    <!-- font poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>COOLNIQLO - Verification</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/" class="homeBtn"><i class="fas fa-home"></i></a>
        <h1 class="title">Products</h1>
      </nav>
      <ul>
        <% products.forEach(product => { %>
        <li class="row">
          <div class="productName"><%= product.name %></div>
          <form action="/customer/dashboard/rate/<%= product._id %>" method="POST">
            <input type="number" name="rating" min="1" max="5" required />
            <button type="submit" class="rateBtn">Rate</button>
          </form>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
