<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header.ejs') %>

<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="javascript:void(0)" class="sidebarBtn" id="manageLink" class="active" onclick="loadPage('manage')"><i class="fas fa-tag"></i> Products</a>
    <a href="javascript:void(0)" class="sidebarBtn" id="ordersLink" onclick="loadPage('orders')"><i class="fas fa-shopping-cart"></i> Orders</a>
    <a href="javascript:void(0)" class="sidebarBtn" id="salesLink" onclick="loadPage('sales')"><i class="fas fa-box"></i> Sales</a>
    <a href="/" class="sidebarBtn"><i class="fas fa-home"></i> Home</a>
  </div>

  <!-- Content -->
  <div class="content" id="manageContent" style="display:none;">
    <%- include('dashboard/manage-products.ejs') %>
  </div>

  <div class="content" id="ordersContent" style="display:none;">

  </div>
  <div class="content" id="salesContent" style="display:none;">

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // load manage-products default
      loadPage('manage');
    });

    function loadPage(page) {
      document.querySelectorAll('.sidebar a').forEach(link => {
        link.classList.remove('active');
      });

      document.querySelectorAll('.content').forEach(content => {
        content.style.display = 'none';
      });

      switch (page) {
        case 'manage':
          document.getElementById('manageLink').classList.add('active');
          document.getElementById('manageContent').style.display = 'block';
          break;
        case 'orders':
          document.getElementById('ordersLink').classList.add('active');
          document.getElementById('ordersContent').style.display = 'block';
          break;
        case 'sales':
          document.getElementById('salesLink').classList.add('active');
          document.getElementById('salesContent').style.display = 'block';
          break;
      }
    }
  </script>
</body>

</html>