<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/Verify.css" />

    <!-- font poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>COOLNIQLO - Verification</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-logo">
        <p>COOLNIQLO</p>
      </div>
    </nav>
    <!----------------------------- Form box ----------------------------------->
    <div class="container">
      <div class="form-box">
        <span>
          <div id="error-message" class="error-message"><%= info %></div>
        </span>

        <div class="top">
          <header>Edit Account</header>
        </div>
        <div> 
          <img src="<%= profilePicture %>" alt="" class="profileImage" />
          <form id="uploadForm" action="/changePicture/upload" method="POST" enctype="multipart/form-data" style="display: none">
            <input type="file" name="profilePicture" id="profilePicture" required/>
            <button type="submit" id="submitButton">Save Profile Picture</button>
        </form>
        <a href="#" id="toggleButton" onclick="toggleUploadForm()">Change Picture</a>
        
        
      </div>
        <form class="register-container" id="verification" action="/forgotPassword/saveUsername" method="POST">
          <div class="input-box">
            <input type="text" class="input-field" placeholder="First Name" name="firstName" id="firstName" value="<%= firstName %>" required/>
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box">
            <input type="text" class="input-field" placeholder="Lastname" name="lastName" id="lastName" value="<%= lastName %>" />
            <i class="bx bx-user"></i>
          </div>

          <div class="input-box">
            <button type="submit" class="submit" name="save" id="save" value="0">Save</button>
          </div>
        </form>

        <div class="btnBottomContainer">
          <a href="/forgotPassword?token=abc123" id="forgotPassword " class="bottom bottom1">Change Password</a>
          <form id="verification" action="/forgotPassword/deleteUser" method="POST">
            <button id="deleteAccount" class="bottom bottom2" onclick="areYourSure()">Delete Account</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      //fungsi yang akan menampilkan 'Are Your Sure?' ketika user menekan 'delete account'. Jika tetap yes, maka akun akan terhapus
      function areYourSure() {
        var result = confirm('Are Your Sure?');
        if (result === false) {
          event.preventDefault();
        }
      }

    function toggleUploadForm() {
    const uploadForm = document.getElementById("uploadForm");
    const toggleButton = document.getElementById("toggleButton");
    
    if (uploadForm.style.display === "none") {
        uploadForm.style.display = "block";
        toggleButton.textContent = "Back";
    } else {
        uploadForm.style.display = "none";
        toggleButton.textContent = "Change Picture";
    }
}


      document.addEventListener("DOMContentLoaded", function() {
        console.log('plis bisa =-dfansdfjsdf')
    const changePictureParagraph = document.getElementById("changePicture");
    const fileInput = document.getElementById("fileInput");

    changePictureParagraph.addEventListener("click", function() {
        fileInput.click(); // Klik inputan berkas saat paragraf diklik
    });

    fileInput.addEventListener("change", function() {
        // Tindakan yang akan dijalankan saat berkas dipilih
        // Misalnya, mengunggah berkas ke server atau menampilkan pratinjau gambar
        console.log("Berkas dipilih:", fileInput.files[0]);
    });
});

      
    </script>
  </body>
</html>
