<!DOCTYPE html>
<html ng-app="olshop">
  <%- include('layouts/header') %>

  <body ng-controller="Controller">
    <!-- Hero Section start-->
    <section class="hero" id="home">
      <main class="content">
        <h1>COOLNIQLO FASHION</h1>
        <p>Toko fashion online terpercaya yang menawarkan berbagai macam pakaian pria dan wanita berkualitas tinggi dengan harga terjangkau.</p>
        <a href="#product" class="cta">Beli Sekarang</a>
      </main>
    </section>

    <nav class="navbar">
      <a id="hamburger-menu"><i data-feather="menu"></i></a>

      <div class="navbar-nav">
        <a href="#home">Home</a>
        <a href="#product">Product</a>
        <a href="#contact">Contact</a>
      </div>
      <a href="#" class="navbar-logo">COOLNIQLO</a>
      <div class="navbar-extra">
        <a href="javascript:void(0)" ng-click="toggleSearch(); clearSearch()">
          <i data-feather="search" ng-show="!showSearch"></i>
          <i data-feather="x" ng-show="showSearch"></i>
        </a>
        <input type="text" ng-model="searchText" placeholder="Search..." class="search" ng-show="showSearch" />
      </div>
    </nav>

    <div class="grid-container" id="product">
      <div ng-repeat="item in filterItems()" class="allItems">
        <div class="item-container">
          <div class="item-image-container">
            <a href="{{ item.page }}">
              <img ng-src="assets/images/{{ item.image }}" alt="{{ item.name }} image" />
            </a>
          </div>
          <div class="item-desc">
            <div class="item-property">
              <div class="item-name">{{item.name}}</div>
              <div class="item-price">{{item.price| currency:'IDR ':'0'}}</div>
            </div>
            <div class="item-rating">
              <a href="{{ item.page }}" class="btnBeli">Beli</a>
              <ul class="star-rating">
                <li ng-repeat="n in [1, 2, 3, 4, 5]">
                  <i ng-class="{'fa-solid fa-star': item.rating >= n, 'fa-regular fa-star': item.rating < n}"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('layouts/footer') %>
    <script>
      feather.replace();
    </script>
    <script src="script.js"></script>
  </body>
</html>
