<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/loginRegis.css" />

    <!-- font poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>Login & Registration</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-logo">
        <p>COOLNIQLO</p>
      </div>
      <div class="nav-button">
        <button class="btn white-btn" id="loginBtn" onclick="login()">Login</button>
        <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
      </div>
    </nav>
    <!----------------------------- Form box ----------------------------------->
    <div class="container">
      <div class="form-box">
        <!------------------- login form -------------------------->
        <% if (messages.error) { %>
        <div class="error-message"><%= messages.error %></div>
        <% } %>
        <form class="login-container" id="login" action="/login/enter" method="POST">
          <div class="top">
            <header>Login</header>
          </div>
          <div class="input-box">
            <input type="email" class="input-field" placeholder="Email" name="email" id="email" onclick="clearErrorMessage()" required />
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password" id="password" required />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <button type="submit" class="submit" name="signIn" id="signIn" value="1">Sign In</button>
          </div>

          <div class="forgotPass">
            <label><a href="/sendForgotPassword?token=forgotPassword123" id="forgotPassword123">Forgot password?</a></label>
          </div>
          <span class="bottom">Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
        </form>

        <!------------------- registration form -------------------------->
        <span>
          <div id="error-message" class="error-message"><%= info %></div>
        </span>
        <form class="register-container" id="register" action="/login/register" method="POST">
          <div class="top">
            <header>Sign Up</header>
          </div>
          <div class="two-forms">
            <div class="input-box">
              <input type="text" class="input-field" placeholder="Firstname" name="firstName" id="firstName" required />
              <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
              <input type="text" class="input-field" placeholder="Lastname" name="lastName" id="lastName" />
              <i class="bx bx-user"></i>
            </div>
          </div>
          <div class="input-box">
            <input type="email" class="input-field" placeholder="Email" name="email" id="email" required />
            <i class="bx bx-envelope"></i>
          </div>
          <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password" id="password" required />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <button type="submit" class="submit" name="signUp" id="signUp" value="0">Register</button>
          </div>

          <span class="bottom">Have an account? <a href="#" onclick="login()">Login</a></span>
        </form>

        <!------------------- forgot pass form form -------------------------->
        <form class="forgotPass-container" id="forgotPass" action="/login/forgotPass" method="POST">
          <div class="top">
            <header>Forgot Password?</header>
          </div>
          <div class="input-box">
            <input type="email" class="input-field" placeholder="Email" name="email" id="email" onclick="clearErrorMessage()" required />
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box">
            <button type="submit" class="submit" name="signIn" id="signIn" value="1">Submit</button>
          </div>
          <span class="bottom">Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
        </form>
      </div>
    </div>

    <!------------------- forgot password form -------------------------->

    <script>
      let a = document.getElementById('loginBtn');
      let b = document.getElementById('registerBtn');
      let x = document.getElementById('login');
      let y = document.getElementById('register');
      let z = document.getElementById('forgotPass');
      // fungsi untuk menghilangkan pop-up error message di halaman sign in (seperti invalid password / no user with that email)
      // , ketika berpindah ke bagian sign up maupun sign in
      function clearErrorMessage() {
        let errorMessage = document.getElementById('error-message');
        if (errorMessage) {
          errorMessage.innerHTML = '';
        }
      }
      function login() {
        clearErrorMessage();
        x.style.left = '0.1px';
        y.style.right = '-80rem';
        z.style.left = '-80rem';
        a.classList.add('white-btn');
        b.classList.remove('white-btn');
        x.style.opacity = 1;
        y.style.opacity = 0;
        z.style.opacity = 0;
      }

      function register() {
        clearErrorMessage();
        x.style.left = '-80rem';
        y.style.right = '0.1px';
        z.style.left = '-80rem';
        a.classList.remove('white-btn');
        b.classList.add('white-btn');
        x.style.opacity = 0;
        y.style.opacity = 1;
        z.style.opacity = 0;
      }

      function forgotPass() {
        clearErrorMessage();
        x.style.left = '80rem';
        y.style.right = '-80rem';
        z.style.left = '0.1px';
        a.classList.remove('white-btn');
        b.classList.remove('white-btn');
        x.style.opacity = 0;
        y.style.opacity = 0;
        z.style.opacity = 1;
      }
    </script>
  </body>
</html>
