* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0e1111;
  background-color: #000000;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 1.5rem 0.7rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 1px solid #0e1111;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #0e1111;
}

.navbar .navbar-nav a {
  color: #0e1111;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
  padding-top: 0.5rem;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #0e1111;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navbar .navbar-extra a {
  color: #0e1111;
  margin: 0 0.5rem;
  display: flex;
}

.xSearch {
  display: flex;
  align-items: center;
}

.formSearch {
  display: flex;
}

/* buat edit search bar */
.search {
  background-color: white;
  border: 2px solid #ccc;
  height: 1.8rem;
  width: 10rem;
  border-radius: 15px;
  transition: border-color 0.3s;
  text-indent: 10px;
}

.search:focus {
  border-color: #0e1111 !important;
}

.submitBtn {
  background-color: #0e1111;
  color: white;
  width: 4.5rem;
  height: 1.8rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.submitBtn:hover,
.loginBtn:hover {
  background-color: rgba(14, 17, 17, 0.8);
}

.noSearch {
  display: none;
}

.loginBtn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: #ffffff !important;
  background-color: rgb(14, 17, 17);
  border-radius: 7px;
}

#hamburger-menu {
  display: none;
}

.userSection {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.iconUserContainer {
  width: 4rem;
  height: 4rem;
  color: white;
  border: 1px solid white;
  background-color: rgba(14, 17, 17, 0.7);
  margin: 0 0 1.5rem 1.5rem;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.iconUserContainer .iconUser {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.iconUserContainer:hover {
  color: #0e1111;
  border: 1px solid #0e1111;
  background-color: rgba(255, 255, 255, 0.7);
}

.iconUserContainer:hover .iconUser {
  color: #0e1111;
  transition: 0.3s;
}

.displayBlock {
  display: block !important;
}

.closeBtnDown {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  color: white;
  border: 1px solid white;
  background-color: rgba(14, 17, 17, 1);
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.closeBtnDown:hover {
  color: #0e1111;
  border: 1px solid #0e1111;
  background-color: rgba(255, 255, 255, 1);
}

.userPopup {
  display: none;
  position: absolute;
  z-index: 101;
  bottom: 1rem;
  left: 2rem;
  padding: 2rem 3rem;
  border-radius: 15px;
  background-color: #0e1111;
  color: white;
  border: 1px solid white;
}

.userName {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.signInContainer {
  display: flex;
  justify-content: center;
}

.userBtnBot button {
  font-size: 1.1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 7px;
  width: 7rem;
  height: 2.3rem;
  color: #0e1111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBtnBot button:hover {
  opacity: 0.8;
}

.userBtnBot .editBtn {
  margin-right: 1rem;
}

.log-out,
.edit {
  margin-right: 0.5rem;
}

/* Hero Section  */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../assets/bg/Hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: #0e1111;
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #0e1111;
  width: 35rem;
}

.hero .content .cta {
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgb(14, 17, 17);
  border-radius: 0.6rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  opacity: 0.8;
}

/* Sort Container */
.sort-container {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.sort-container button {
  background-color: transparent;
}

.sort-container .scrollLeft,
.sort-container .scrollRight {
  color: white;
  cursor: pointer;
}
.iconLeft,
.iconRight {
  width: 2.3rem;
  height: 2.3rem;
}

.sort-container .scrollLeft {
  position: absolute;
  left: 2rem;
  margin-top: 0.3rem;
}

.sort-container .scrollRight {
  position: absolute;
  right: 0;
  margin-right: 1.8rem;
  margin-top: 0.33rem;
}

.sort-container ul {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  transition: transform 0.5s ease;
}
.sort-container ul li button {
  border: 1px solid rgb(255, 255, 255);
  font-size: 1rem;
  color: white;
  width: 13rem;
  height: 3rem;
  border-radius: 7px;
  cursor: pointer;
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
}

.sort-container ul li button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 4px 0px, rgba(255, 255, 255, 0.52) 0px 2px 16px 0px;
}

.sort-container ul li button::after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.sort-container ul li button:hover:after {
  left: 120%;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.selected {
  background-color: rgba(255, 255, 255, 1) !important;
  color: #0e1111 !important;
}

/* Item container and items styles */
.grid-container {
  width: 95%;
  margin: 0 auto;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-items: center;
  gap: 1rem;
  row-gap: 5rem;
}

.item-container {
  width: 17rem;
  height: 23rem;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 1px 50px 8px rgba(254, 254, 254, 0.45);
}

.item-image-container,
.item-desc {
  width: 100%;
  height: 100%;
}

.item-image-container {
  position: relative;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.item-desc {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.item-property {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-name {
  flex: 1;
}

.item-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: bold;
}

.item-rating {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1rem;
}

.item-rating .btnBeli {
  color: rgba(14, 17, 17, 0.7);
  height: 2.5rem;
  width: 7.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(14, 17, 17, 0.3);
  transition: all 0.4s ease;
}

.item-rating .btnBeli:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #0e1111;
  margin-top: 1rem;
}

.item-rating .btnBeli {
  color: rgba(14, 17, 17, 0.7);
  height: 2.5rem;
  width: 7.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(14, 17, 17, 0.3);
  transition: all 0.4s ease;
}

.item-rating .btnBeli:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #0e1111;
}

.cartButton {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: transparent;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #0e1111;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.cartButton:hover {
  color: white;
  background-color: #0e1111;
}

.cartButton i.fa {
  font-size: 1rem;
}

/* @keyframes cartColorChange {
  0% {
    color: black;
    border-color: black;
  }
  50% {
    border-color: white;
    color: white;
  }
  100% {
    color: black;
    border-color: black;
  }
} */

.star-rating li {
  margin-top: 1rem;
  display: inline;
}

.item-image-container img {
  width: 100%;
  display: block;
}
.sampah {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2;
  height: 2;
}
/* Item container and items styles */

footer {
  background-color: white;
  text-align: center;
  padding: 1rem 0 1.5rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #0e1111;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #5f5f5f;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #0e1111;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #0e1111;
  font-weight: 700;
}

/* Cart CSS */
.floating-button {
  cursor: pointer;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  margin: 0 1.5rem 1.5rem 0;
  border: 1px solid #0e1111;
  transition: 0.5s;
}

.floating-button i.fa {
  font-size: 1.2rem;
}

.floating-button:hover {
  background-color: #dfdfdf;
}

/* right: -100%; */
/* .cartMenu {
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vh;
  width: 25rem;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  z-index: 999;
} */

/* .cartMenu.goRight {
  right: 0; 
} */

.cartMenu {
  position: fixed;
  right: 0;
  width: 25rem;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 1001;
  overflow: scroll;
  scroll-behavior: smooth;
  border-left: 1px groove #0e1111;
}

.cartMenuHeader {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  width: 23.9rem;
  background-color: #0e1111;
  color: white;
  position: fixed;
  top: 0;
  /* width: 23rem;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem; */
}

.cartMenuTitle {
  flex: 1;
  display: flex;
  justify-content: start;
}

.closeButton {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #0e1111;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.closeButton:hover {
  background-color: #dfdfdf;
}

.cart-items {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 4.6rem;
}

.cart-item {
  display: flex;
  height: 7rem;
  width: 100%;
  padding: 0.5rem 0;
  flex-direction: row;
  border-bottom: 1px dashed #0e1111;
}

.cart-item-image {
  flex: 1;
}

.cart-item img {
  height: 100%;
}

.cart-item-details {
  flex: 4;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
}

.item-title {
  /* background-color: red; */
}

.item-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.plusMinesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  height: 2rem;
  color: white;
  border: 1px solid #0e1111;
  border-radius: 2rem;
  overflow: hidden;
}

.plusMinesItem p {
  color: #0e1111;
}

.plusItem {
  background-color: #0e1111;
  width: 1.7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.minesItem {
  background-color: #0e1111;
  width: 1.7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteCart {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.bottomCheckout {
  background-color: rgb(255, 254, 254);
  width: 23rem;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
}

.checkoutBtn {
  background-color: #0e1111;
  color: white;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50rem;
  transition: 0.5s;
}

.plusItem:hover,
.minesItem:hover,
.checkoutBtn:hover {
  background-color: rgba(14, 17, 17, 0.8);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media Query */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .item-container {
    width: 20rem;
    height: 26rem;
  }
  .sort-container ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .sort-container ul li {
    margin: 1rem auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    color: #0e1111;
    cursor: pointer;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    left: 0;
  }

  .navbar .navbar-nav a {
    color: #0e1111;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-extra {
    margin-left: -5rem;
    justify-content: space-around;
  }

  .item-container {
    width: 18rem;
    height: 24rem;
  }

  .navbar {
    grid-template-columns: 1fr 4fr;
  }

  .navbar-logo {
    display: none;
  }

  .navbar .navbar-extra {
    gap: 3rem;
  }

  #searchBar {
    display: inline-block;
  }

  #searchToggle {
    display: none;
  }

  .search {
    height: 2.5rem;
    width: 19rem;
    border-radius: 7px 0 0 7px;
  }
  .submitBtn {
    border-radius: 0 7px 7px 0;
    margin-left: -0.4rem;
    width: 4rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .search {
    width: 17rem;
  }

  .hero {
    min-height: 100vh;
  }

  .hero .content {
    margin-top: -25rem;
  }

  .hero .content .cta {
    font-size: 1.3rem;
    padding: 1.5rem 3.5rem;
  }

  .hero .content p {
    font-size: 1.5rem;
  }

  .grid-container {
    padding-top: 3rem;
  }

  .search {
    height: 2.5rem;
    width: 15rem;
  }
  .submitBtn {
    width: 4rem;
    font-size: 1rem;
  }
}
