* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../assets/bg/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  background: linear-gradient(rgba(14, 17, 17, 0.7), transparent);
  z-index: 100;
}
.nav-logo p {
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 7rem auto 0;
  width: 33rem;
  height: 30rem;
  background: rgba(14, 17, 17, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.8px);
}

.register-container {
  width: 30rem;
  margin: 0 auto;
}

header {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 1rem 0;
}
.subHeader {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem;
}

.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}
.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
  color: #fff;
}
.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.profileImage{
  display: flex;
  height: 5rem;
  width: 5rem;
}


.profileImage{
  display: flex;
  height: 5rem;
  width: 5rem;
}


.forgotPasswordVerif,
.backToLoginBtn {
  font-size: small;
  cursor: pointer;
  text-align: center;
  margin-top: 0.8rem;
}

.forgotPasswordVerif a,
.backToLoginBtn a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.forgotPasswordVerif a:hover,
.backToLoginBtn a:hover {
  text-decoration: underline;
}

.titleLogin {
  margin-bottom: 2rem;
  text-align: center;
}

.bottom {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: rgba(14, 17, 17, 0.7);
  width: 14rem;
  height: 3rem;
  border-radius: 30px;
  cursor: pointer;
}

.bottom a {
  color: #ffffff;
}

.bottom1 {
  margin-right: 2rem;
  color: white;
}

.bottom1:hover {
  background-color: rgba(14, 17, 17, 1);
}

#deleteAccount {
  background-color: transparent;
  font-weight: bold;
  background-color: rgb(209, 3, 3, 0.7);
  color: white;
  cursor: pointer;
}

#deleteAccount:hover {
  background-color: rgb(209, 3, 3, 1);
}

.error-message {
  color: rgb(209, 3, 3);
  text-align: center;
  font-weight: bold;
}

.btnBottomContainer {
  display: flex;
  justify-content: center;
}

/* Media Query */
/* Mobile */
@media (max-width: 540px) {
  .container {
    width: 100%;
    height: 500px;
  }

  .register-container,
  .btnBottomContainer {
    padding: 0 20px;
    width: 100%;
  }

  .btnBottomContainer {
    flex-direction: column;
    margin-top: 1rem;
  }

  .bottom {
    width: 100%;
  }

  #verification {
    margin-top: -1.5rem;
  }
}
