* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  justify-content: center;
  padding: 1.5rem 7%;
  background-color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #0e1111;
}

.navbar .navbar-nav a {
  color: #0e1111;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
  padding-top: 0.5rem;
}

.navbar a:hover {
  color: #0e1111;
}

.navbar a::after {
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #0e1111;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar a:hover::after {
  transform: scaleX(0.5);
}

.navbar {
  color: #0e1111;
  margin: 0 0.5rem;
  /* background-color: #fff; */
}

.navbar {
  display: flex;
}

.displayImage {
  width: 25rem;
  border-radius: 0.6rem;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  height: 25rem;
}

.hide {
  opacity: 0;
}

.textBox {
  color: #0e1111;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 4rem;
}

.itemName {
  font-size: 1.4rem;
}

.priceTag {
  font-size: 1.9rem;
}

.purchaseHistory {
  font-size: 0.8rem;
  font-weight: 300;
  margin-right: 0.7rem;
}

.rating {
  margin-bottom: 0.6rem;
  margin-top: 0;
  padding: 0;
}

.itemDescription {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.6rem;
}

.bigContainer {
  display: flex;
  justify-content: center;
  margin: 2rem auto;

  width: 80%;
}

.buttonBox {
  margin-top: 2rem;
}

.cartButton {
  background-color: #0e1111;
  padding: 1.2rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.9rem;
  color: white;
  width: 15rem;
  margin-right: 1.3rem;
  transition-duration: 0.15s;
}

.cartButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cartButton:active {
  opacity: 0.7;
}

.buyButton {
  border: 2px solid #0e1111;
  padding: 1.22rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.9rem;
  color: #0e1111;
  width: 15rem;
  transition-duration: 0.15s;
}

.buyButton:hover {
  cursor: pointer;
}

.miniImage {
  border-radius: 0.6rem;
  width: 4.75rem;
  transition-duration: 0.2s;
}

.miniImage:hover {
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.boxGambarKecil {
  width: 25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
